<%- include("partial/header/"); %>
<img src="https://scontent.fdel2-2.fna.fbcdn.net/v/t1.0-9/31396450_661864407538958_6661945483885281280_n.jpg?_nc_cat=108&ccb=2&_nc_sid=174925&_nc_ohc=Pgq_9tKOnioAX_xZzxJ&_nc_ht=scontent.fdel2-2.fna&oh=66f356cd87c84cea61eb967ce348922f&oe=5FDFE726" class="img-circle" alt="Responsive image">
<div>
    <p style="font-family:Italic">Hey, This is Awakash</p>
    <p style="font-family:Arial, Helvetica, sans-serif"> I am studying at Jadapur University Production engineering department 
 I am final year Student</p>
</div>
<%- include("partial/footer/");%>