<%- include("partial/header/"); %>
  <div>
     <p> Blog Journal website with Authentication features </p>
     <a href="https://blogj.herokuapp.com/">Visit</a>
  </div>

<%- include("partial/footer/");%>